body{
    height: 100%;
    width: 100%;
    background: url('../../../public/Background.jpg') center center/cover;
    opacity: 1;
    background-size: cover;
    background-position: center;
    transition: background 0.3 ease;
    margin: 0;
}

body::before{
    background: rgba(0, 0, 0, 0.5); 
}